{% extends 'partials/base.html.twig' %}

{% block main %}
    {% set bg = page.header.image | first %}
    <section class="section-headerimage" style="background-image: url('{{ page.url(true) }}/header/{{ bg.name }}')">
        <h1 class="heading">{{ page.header.title }}</h1>
    </section>
    <section class="page section-default">
        <div class="markdown">
            {{ page.content|raw }}
        </div>
    </section>
{% endblock %}
